body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow:scroll;
}
.header{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #484848;
    width: fit-content;
    box-shadow: black 0px 1px;
}

.logo h1{
    color: white;
    font-style: italic;
    text-transform: uppercase;
    font-size: 4vw;
    padding: 1vw 2vw;
}
.logo img{
    width: 10vw;
}

.navbar{
    display: flex;
    width: 100vw;
    background-color: #F0C106;
    padding: 0px;
    box-shadow: black 0px 1px;
    
}
.navitems, .navitems li{
  
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
}
.navitems h2{
    font-size: 2.6vw;
    text-align: center;
    color: #B99403;
}
.navitems img{
    width: 6vw;
    height: 6vw;
}

.navitems{
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
.contact:hover,.about:hover,.service:hover{
    background-color: #f3dc11e5 ;
    cursor: pointer;
    font-size: 1.5rem;

}
a{
    text-decoration-line: none;
}

.navitems hr{
    height: 100%;
    border: black solid 1%;
}

.player{
    background-image: url(./assets/bg-player.png);
    height: 40vw;
    background-size: cover;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    z-index: 2;
    
}
.playerlayer{
    background-image: url(./assets/bg\ yellow.png);
    background-size: cover;
    z-index: 1;
    padding-top: 1px;
}

.play{
    background-color: #e0d040e5;
    height: 12.5vw;
    width: 12.5vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play img{
    width: 3vw;
    height: 5vw;
}
.controls{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
    
.resume{
    width: 4vw;
    height: 4vw;
    background-color: #e0d040ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume img{
    width: 2vw;
    height: 3vw;
}

.volume{
    width: 2.5;
    height: 2.5vw;
   
}
.timeline{
    display:flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
}

.timeline img{
   width: 43%;
   height: 30%;
}
.layer2{
    background-color:rgba(245, 245, 245, 0.432);
    margin-top: -4wv;  
    z-index: -2; 
}
.layer1{
    background-color:rgba(235, 208, 208, 0.527);
    width: 100%;
    height: 29vw; 
    z-index: -1;
    display: flex;
    align-items:flex-end;
    margin-top: -2vw;
}
.sec1{
    background-image: url(./assets/bg-sec1.png);
    height: 27.5vw;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 3;
    opacity: 1;
}

.design, .customise, .free{
    display: flex;
    flex-direction: column;
  text-align: center;
  align-items: center;
}

.sec1 img{
    width: 10vw;
    height: 10vw;
}
.sec1 h3{
    font-size: calc(0.5rem + 1vw);
}


.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5vw;
    row-gap: 1.5vw;
    grid-template-rows: 37vw;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}
.lorem{
    color: white;
    font-size: calc(1rem + 1.3vw);
    grid-area: 1/1 / span 3 /span4;
}
.lorembox{
    background-color: #EC9E03;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.plus{
    width: 30%;
    height: 30%;
    grid-area: 4/4/4/4;
    justify-self: center;
    align-self: center;
}
.plus:hover{
    background-color: tomato;
    width: 50%;
    height: 50%;
}
.player2{
    background-image: url(./assets/player2.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elipse{
    width: 20%;
    height: 20%;
    background-color:#ec9e03c4 ;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    grid-template-rows: 36.5vw;
}
.tweeticon, .tweeting{
    width: 100%;
    height: 100%;
    background-color: #ec9e03 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tweeticon img{
    width: 50%;
    height: 50%;
}
.tweet-img{
    width: 90%;
    height: 67%;
}
.tweet-img img{
    width: 100%;
    height: 100%;
}

.input{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.enter{
    width:60%;
    height: 50%;
    border-radius: 50px 0 0  50px;
    border: 0;
}
.btn-tweet{
    background-color: #b98318;
    color: white;
    height: 60%;
    width: 20%;
    border-radius: 0 50px 50px 0;
    border: 0;
    font-size: calc(30% + 1.2vw);
}
.btn-tweet:hover{
    background-color: lightcoral;
    box-shadow: 1px 1px whitesmoke;
}

.sec3{
    background-color: #474747;
    display: flex;
    flex-direction: column;
    height: 76vw;
    text-align: center;
}
.sec3 h2{
   color: #F5C506; 
   font-size: calc(1rem + 2.5vw);
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: lighter;

}

.desktop{
    width: 59%;
    height: 78%;
    margin-top: 10vw;
}

.desktop img{
    width: 100%;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 7vw;
}

.circle{
    width: 19%;
    height: 24%;
    background-color: #F5C506 ;
    border-radius: 100%;
   position:relative;
    color: white;
    margin-bottom: -25vw;
    display: flex;
  justify-content: center;
  align-items: center;
     
}

.tablet img, .phone img{
    width: calc(59% + 3vw);
    height: calc(78% + 3vw);
}

footer{
    background-color: #474747;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    box-shadow: 0 0 5px 7px #020202ad;
    padding-left: 10%;
   align-self: center;
}

.logofooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    text-transform: uppercase;
    font-size: 80%;
}

@media only screen and (max-width:360px){
    body{
        display: none;
    }
}

@media only screen and (min-width:640px){
    header{
        background-image: url(./assets/bg-desktop.png);
        background-size: cover;
        height: 43.5vw;
       display: flex;
       flex-direction: column;
       justify-content: space-around;

    }
    .playerlayer{
        width: 40%;
        height: 60%;
        margin: 0vw;
    }
    .player{
        margin: 0;
        padding:0;
        width: 100%;
        height: 100%;
    }
    .logo{
        width: 30%;
        height: 30%;
        background-color: rgba(245, 245, 245, 0);
        border:0;
       
    }
    .logo h1{
        font-size: calc(1.8rem);
        
    }
   
    
    .logo img{
        width: 36%;
        height: 36%;
    }
    
    .navbar{
        display: flex;
        width: 30%;
        height: 10%;
        background-color: #F0C106;
        padding: 0px;
        box-shadow: black 0px 1px;
       
        
    }
    .navitems, .navitems li{
      
        display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;
    }
    .navitems h2{
        font-size:calc(1vw );
        text-align: center;
        color: #B99403;
    }
    .navitems img{
        width: 20%;
        height: 20%;
    }
    
    .play{
        background-color: #e0d040e5;
        height: 5vw;
        width: 5vw;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .play img{
        width: 3vw;
        height: 3vw;
    }
    .controls{
        width: 95%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
        
    .resume{
        width: 2vw;
        height: 2vw;
        background-color: #e0d040ce;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .resume img{
        width: 1vw;
        height: 1vw;
    }
    
    .volume{
        width: 1.2vw;
        height: 1.2vw;
       
    }
    .timeline{
        display:flex;
        flex-direction: row;
        width: fit-content;
        justify-content: center;
    }
    
    .timeline img{
       width: 43%;
       height: 30%;
   
    }
}